<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="icon" href="https://cdn.icon-icons.com/icons2/38/PNG/512/music_5261.png">

    <meta charset="utf-8">
    <title>My music collection</title>
  </head>
  <body>
    <% if user_signed_in? %>
      <p>Hi <%= current_user.email %></p>
      <h1>Welcome to Terry's music collection!</h1><br>
      <p>Hello welcome to my music collection. In here you will see some of the songs from my library and few of my favourite songs among all. Some of the most famous artist around the world are here as well!<br><br>Enjoy!</p>
    <% else %>
      <h1>Welcome to Terry's music collection!</h1><br>
      <p>Hello welcome to my music collection. In here you will see some of the songs from my library and few of my favourite songs among all. Some of the most famous artist around the world are here as well!<br><br>Enjoy!</p><p style="color: yellow;">If you are an admin, you can log in with email: "admin@gmail.com" and password: "123456"</p>
    <% end %>
    <br>
    <%= link_to "My music collection", songs_path, class:"btn btn-outline-secondary" %>
    <br>

    <div class="box">
    </div>

    <div style="width: 980px; margin: 0 auto; overflow: hidden;">
    </div>


  </body>




</html>
