<head>
  <link rel="icon" href="https://cdn.icon-icons.com/icons2/38/PNG/512/music_5261.png">
</head>
<h1>New Artist</h1>

<%= render 'form', artist: @artist %>
<br>
<%= link_to 'Back', artists_path, class:"btn btn-outline-secondary" %>
<br>
