<!--
  LOGIC:
  for signed in user and is an admin,
  they can edit and destroy items, appliable to other views.
  Otherwise for visitors and non admin users visiting edit page there will be an alert message for them.
-->

<% if user_signed_in? == true && current_user.email == "admin@gmail.com" %>
  <h1>Editing Album</h1>

    <%= render 'form', album: @album %>
    <br>
    <%= link_to 'Show', @album, class:"btn btn-outline-secondary"%>
    <%= link_to 'Back', albums_path, class:"btn btn-outline-secondary" %>

      <% else if user_signed_in? == false || current_user.email != "admin@gmail.com" %>

          <h1><br>🚫Hey looks like you're not authorized yet, click <%= link_to "here", :back %> to go back🚫</h1>
      <% end %>

<% end %>
